<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylecalculate.css">
    <title>BMI Calculator</title>
</head>

<body>
    <div class="container">
        <h1>BMI Calculator</h1>
        <div class="input-container">
            <label for="weight">Weight (kg):</label>
            <input type="number" id="weight" placeholder="Enter weight">
        </div>
        <div class="input-container">
            <label for="height">Height (cm):</label>
            <input type="number" id="height" placeholder="Enter height">
        </div>
        <div class="input-container">
            <label for="age">Age (year):</label>
            <input type="number" id="age" placeholder="Enter age">
        </div>
        <div class="input-container">
            <label for="gender">Gender :</label>
            <!-- option list male/female -->
            <select id="gender">
                <option value="0">male</option>
                <option value="1">female</option>
            </select>
        </div>
        <button id="calculate">Update</button>
        <div id="result"></div>
    </div>

    <div class="container">
        <h2>Data Diri</h2>
        <div class="nama">
            <%- username %>
        </div>
        </h3>
        <table id="data-table">
            <thead>
                <tr>
                    <th>Weight</th>
                    <th>Height</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>BMI</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="container">
        <center>
            <img src="/images/bmi.jpeg" style="max-width: 300px;">
        </center>
    </div>

    <div class="container" id="res">

    </div>



    <!-- add logout button -->
    <div class="container">
        <a href="/logout">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
                Logout
            </button>
        </a>
    </div>
    <script src="/js/script.js"></script>
</body>

</html>