<section id="overweight">
    <h1>Overweight</h1>
    <p>Overweight atau obesitas derajat I, merupakan kondisi ketika berat badan berlebih dapat disebabkan oleh beberapa
        hal, yaitu: penumpukan lemak tubuh, kelebihan otot, tulang, atau gemuk air.</p>
</section>
<section id="risks">
    <h2>Risiko penyakit</h2>
    <ul>
        <li>Diabetes tipe 2</li>
        <li>Tekanan darah tinggi</li>
        <li>Penyakit jantung</li>
        <li>Stroke</li>
        <li>Sindrom metabolik</li>
        <li>Penyakit hati berlemak</li>
        <li>Beberapa jenis kanker</li>
        <li>Masalah pernapasan</li>
        <li>Osteoartritis</li>
        <li>Encok</li>
        <li>Penyakit kandung empedu dan pankreas</li>
        <li>Penyakit ginjal</li>
        <li>Masalah kehamilan</li>
        <li>Masalah kesuburan</li>
        <li>Masalah fungsi seksual</li>
        <li>Masalah kesehatan mental</li>
    </ul>
</section>
<section id="diet-recommendation">
    <h2>Rekomendasi Diet</h2>
    <p>Diet rendah energi yang seimbang, dengan pengurangan energi 500-1000 kkal dari kebutuhan sehari dengan cara :</p>
    <ul>
        <li>Mengurangi konsumsi bahan makanan sumber karbohidrat kompleks seperti nasi, roti, jagung, kentang dan sereal
        </li>
        <li>Menghindari konsumsi bahan makanan sumber karbohidrat sederhana seperti gula pasir, gula merah, sirup, kue
            yang manis dan gurih, madu, selai, dodol, coklat, permen, minuman ringan, dll</li>
        <li>Mengurangi konsumsi bahan makanan sumber lemak dengan tidak mengolah makanan dengan cara digoreng dan
            menggunakan santan kental serta mentega dan margarin</li>
        <li>Mengutamakan konsumsi bahan makanan sumber protein rendah lemak, seperti ikan, putih telur, ayam tanpa
            kulit, susu dan keju rendah lemak, tempe tahu, dan kacang-kacangan yang diolah</li>
    </ul>
</section>
<section id="menu">
    <h2>Rekomendasi menu makanan</h2>
    <ul>
        <li>Sayuran dari semua jenis</li>
        <li>Buah-buahan, terutama buah utuh daripada jus buah</li>
        <li>Biji-bijian, seperti nasi merah, oat, dan roti gandum</li>
        <li>Produk susu, termasuk susu bebas lemak atau rendah lemak, yogurt, dan keju, atau produk serupa seperti
            minuman kedelai dengan tambahan kalsium, vitamin A, dan vitamin D</li>
        <li>Protein dari makanan seperti daging tanpa lemak, unggas, dan telur; makanan laut; buncis, kacang polong, dan
            lentil; dan kacang-kacangan, biji-bijian, dan produk kedelai</li>
        <li>Minyak tertentu, seperti minyak zaitun dan minyak yang ditemukan dalam makanan laut, kacang-kacangan, dan
            alpukat</li>
    </ul>
</section>
<section id="exercise">
    <h2>Exercise</h2>
    <p>Kelebihan berat badan terjadi ketika tubuh mengalami ketidakseimbangan energi, yaitu terlalu banyak kalori yang
        masuk ke tubuh dan terlalu sedikit kalori yang dibakar. Maka memilih olahraga dan aktivitas yang fokus membakar
        kalori tubuh penting dilakukan. Olahraga dan aktivitas yang dapat dilakukan seperti:</p>
    <ul>
        <li>Berjalan kaki: dapat dilakukan dimana saja dan aktivitas ini efektif untuk membakar kalori.</li>
        <li>Sepeda statis: olahraga ini tidak memberikan hasil yang instan dan memang cukup sulit pada awalnya. Namun
            semakin rutin melakukannya maka berat badan dapat turun.</li>
        <li>Jogging: setelah terbiasa melakukan jalan kaki, Anda dapat menaikkan intensitasnya dengan melakukan jogging.
            Jogging dapat membantu untuk membakar lemak visceral yang membahayakan bagi tubuh.</li>
        <li>Latihan interval: latihan yang mengacu pada latihan intens yang bergantian dengan periode pemulihan selama
            10-30 menit.</li>
        <li>Aerobik air: Air membantu menopang berat badan, yang membuat tubuh terasa lebih ringan sehingga membuat
            manfaatnya aerobik yang dilakukan menjadi lebih efektif.</li>
    </ul>
</section>